h1{
    height: 10vh;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 10vh;
    font-size: 40px;
}
.posts{
    width: 100%;
}
.posts>ul{
    display: flex;
    flex-direction: column; 
    margin: 5%;   
}
.posts>ul>li{
    font-size: 25px;
}
h4{
     font-size: 28px;
     color: rgb(199, 38, 194);
}