.App-header{
    background-color: #282c34;
    min-height: 10vh;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .logo-crotte{
    width: 10vh;
    height: 12vh;
   margin: 15px;
  }
  nav{
    width: 30%;
    display: flex; 
  }
  ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
    margin-right: 25px;
  }
  ul>li{
    list-style: none;  
  }
  ul>li>a{
    color: #fff;
    font-size:25px;
    font-weight: bold;
    text-decoration: none; 
  }
