.App-header{
    background-color: #282c34;  
    color: #fff;
    margin: 0;   
    display: block;

  }
  .logo-crotte{
    width: 10vh;
    height: 12vh;
   margin: 15px;
  }
  nav{
    width: 100%;
    display: flex; 
    
  }
  ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    margin:0px 25px;
  }
  ul>li{
    list-style: none;  
  }
  ul>li>a{
    color: #fff;
    font-size:25px;
    font-weight: bold;
    text-decoration: none; 
    margin:0px 35px;
  }
  ul>li>a:hover{
    color: rgb(148, 70, 190);
  }
